body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:383px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6710 {
  position:absolute;
  left:12px;
  top:14px;
  width:368px;
  height:383px;
}
#u6711 {
  position:absolute;
  left:2px;
  top:184px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6712 {
  position:absolute;
  left:13px;
  top:15px;
  width:367px;
  height:40px;
}
#u6713 {
  position:absolute;
  left:2px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u6714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714 {
  position:absolute;
  left:18px;
  top:58px;
  width:362px;
  height:280px;
}
#u6715 {
  position:absolute;
  left:2px;
  top:132px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u6716 {
  position:absolute;
  left:296px;
  top:356px;
  width:71px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6716_img.mouseOver {
}
#u6716.mouseOver {
}
#u6717 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u6716_ann {
  position:absolute;
  left:360px;
  top:352px;
  width:1px;
  height:1px;
}
#u6718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6718 {
  position:absolute;
  left:343px;
  top:23px;
  width:25px;
  height:25px;
}
#u6719 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6718_ann {
  position:absolute;
  left:361px;
  top:19px;
  width:1px;
  height:1px;
}
#u6720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6720 {
  position:absolute;
  left:29px;
  top:65px;
  width:181px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u6721 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6722 {
  position:absolute;
  left:29px;
  top:101px;
  width:50px;
  height:50px;
}
#u6723 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6724 {
  position:absolute;
  left:89px;
  top:107px;
  width:57px;
  height:16px;
}
#u6725 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u6726 {
  position:absolute;
  left:89px;
  top:129px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u6727 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:2px;
}
#u6728 {
  position:absolute;
  left:29px;
  top:90px;
  width:339px;
  height:1px;
}
#u6729 {
  position:absolute;
  left:2px;
  top:-8px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u6730 {
  position:absolute;
  left:242px;
  top:107px;
  width:83px;
  height:16px;
}
#u6731 {
  position:absolute;
  left:2px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6730_ann {
  position:absolute;
  left:318px;
  top:103px;
  width:1px;
  height:1px;
}
#u6732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6732 {
  position:absolute;
  left:332px;
  top:108px;
  width:35px;
  height:16px;
}
#u6733 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6732_ann {
  position:absolute;
  left:360px;
  top:104px;
  width:1px;
  height:1px;
}
#u6734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:2px;
}
#u6734 {
  position:absolute;
  left:27px;
  top:161px;
  width:339px;
  height:1px;
}
#u6735 {
  position:absolute;
  left:2px;
  top:-8px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 210, 210, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6737 {
  position:absolute;
  left:30px;
  top:208px;
  width:339px;
  height:121px;
}
#u6738 {
  position:absolute;
  left:2px;
  top:52px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6739 {
  position:absolute;
  left:35px;
  top:214px;
  width:329px;
  height:110px;
}
#u6739_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:110px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6740 {
  position:absolute;
  left:107px;
  top:175px;
  width:20px;
  height:20px;
}
#u6740_img.selected {
}
#u6740.selected {
}
#u6741 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6742 {
  position:absolute;
  left:142px;
  top:175px;
  width:20px;
  height:20px;
}
#u6742_img.selected {
}
#u6742.selected {
}
#u6743 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6744 {
  position:absolute;
  left:178px;
  top:175px;
  width:20px;
  height:20px;
}
#u6744_img.selected {
}
#u6744.selected {
}
#u6745 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6746 {
  position:absolute;
  left:213px;
  top:175px;
  width:20px;
  height:20px;
}
#u6746_img.selected {
}
#u6746.selected {
}
#u6747 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6748 {
  position:absolute;
  left:248px;
  top:175px;
  width:20px;
  height:20px;
}
#u6748_img.selected {
}
#u6748.selected {
}
#u6749 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
