body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:383px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6828 {
  position:absolute;
  left:12px;
  top:14px;
  width:368px;
  height:383px;
}
#u6829 {
  position:absolute;
  left:2px;
  top:184px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6830 {
  position:absolute;
  left:13px;
  top:15px;
  width:367px;
  height:40px;
}
#u6831 {
  position:absolute;
  left:2px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u6832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6832 {
  position:absolute;
  left:18px;
  top:58px;
  width:362px;
  height:280px;
}
#u6833 {
  position:absolute;
  left:2px;
  top:132px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u6834 {
  position:absolute;
  left:296px;
  top:356px;
  width:71px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6834_img.mouseOver {
}
#u6834.mouseOver {
}
#u6835 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u6834_ann {
  position:absolute;
  left:360px;
  top:352px;
  width:1px;
  height:1px;
}
#u6836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6836 {
  position:absolute;
  left:343px;
  top:23px;
  width:25px;
  height:25px;
}
#u6837 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6836_ann {
  position:absolute;
  left:361px;
  top:19px;
  width:1px;
  height:1px;
}
#u6838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6838 {
  position:absolute;
  left:29px;
  top:65px;
  width:181px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u6839 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6840 {
  position:absolute;
  left:29px;
  top:101px;
  width:50px;
  height:50px;
}
#u6841 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6842 {
  position:absolute;
  left:89px;
  top:107px;
  width:57px;
  height:16px;
}
#u6843 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u6844 {
  position:absolute;
  left:89px;
  top:129px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u6845 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:2px;
}
#u6846 {
  position:absolute;
  left:29px;
  top:90px;
  width:339px;
  height:1px;
}
#u6847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u6848 {
  position:absolute;
  left:242px;
  top:107px;
  width:83px;
  height:16px;
}
#u6849 {
  position:absolute;
  left:2px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6848_ann {
  position:absolute;
  left:318px;
  top:103px;
  width:1px;
  height:1px;
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6850 {
  position:absolute;
  left:332px;
  top:108px;
  width:35px;
  height:16px;
}
#u6851 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6850_ann {
  position:absolute;
  left:360px;
  top:104px;
  width:1px;
  height:1px;
}
#u6852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:2px;
}
#u6852 {
  position:absolute;
  left:27px;
  top:161px;
  width:339px;
  height:1px;
}
#u6853 {
  position:absolute;
  left:2px;
  top:-8px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 210, 210, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6855 {
  position:absolute;
  left:30px;
  top:208px;
  width:339px;
  height:121px;
}
#u6856 {
  position:absolute;
  left:2px;
  top:52px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6857 {
  position:absolute;
  left:35px;
  top:214px;
  width:329px;
  height:110px;
}
#u6857_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:110px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6858 {
  position:absolute;
  left:107px;
  top:175px;
  width:20px;
  height:20px;
}
#u6858_img.selected {
}
#u6858.selected {
}
#u6859 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6860 {
  position:absolute;
  left:142px;
  top:175px;
  width:20px;
  height:20px;
}
#u6860_img.selected {
}
#u6860.selected {
}
#u6861 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6862 {
  position:absolute;
  left:178px;
  top:175px;
  width:20px;
  height:20px;
}
#u6862_img.selected {
}
#u6862.selected {
}
#u6863 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6864 {
  position:absolute;
  left:213px;
  top:175px;
  width:20px;
  height:20px;
}
#u6864_img.selected {
}
#u6864.selected {
}
#u6865 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6866 {
  position:absolute;
  left:248px;
  top:175px;
  width:20px;
  height:20px;
}
#u6866_img.selected {
}
#u6866.selected {
}
#u6867 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
