body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:129px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#199ED8;
}
#u51 {
  position:absolute;
  left:70px;
  top:132px;
  width:129px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
  color:#199ED8;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
