body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:677px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:489px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1842 {
  position:absolute;
  left:12px;
  top:14px;
  width:677px;
  height:489px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:236px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1844 {
  position:absolute;
  left:18px;
  top:58px;
  width:368px;
  height:408px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:196px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  position:absolute;
  left:13px;
  top:15px;
  width:675px;
  height:40px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:12px;
  width:671px;
  word-wrap:break-word;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:396px;
  top:91px;
  width:286px;
  height:375px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:180px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u1852 {
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1853 {
  position:absolute;
  left:9px;
  top:7px;
  width:25px;
  height:25px;
}
.u1854 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1855 {
  position:absolute;
  left:44px;
  top:12px;
  width:29px;
  height:16px;
}
.u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1857 {
  position:absolute;
  left:256px;
  top:10px;
  width:20px;
  height:20px;
}
.u1858 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u1850-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:286px;
  height:40px;
}
#u1850-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:286px;
  height:40px;
}
#u1850 {
  position:absolute;
  left:396px;
  top:92px;
  width:286px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1850_ann {
  position:absolute;
  left:675px;
  top:88px;
  width:1px;
  height:1px;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  position:absolute;
  left:18px;
  top:476px;
  width:79px;
  height:16px;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1861 {
  position:absolute;
  left:584px;
  top:468px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1861_img.mouseOver {
}
#u1861.mouseOver {
}
#u1862 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1861_ann {
  position:absolute;
  left:671px;
  top:464px;
  width:1px;
  height:1px;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  position:absolute;
  left:396px;
  top:65px;
  width:72px;
  height:16px;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1865 {
  position:absolute;
  left:661px;
  top:17px;
  width:25px;
  height:25px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_ann {
  position:absolute;
  left:679px;
  top:13px;
  width:1px;
  height:1px;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1868 {
  position:absolute;
  left:50px;
  top:70px;
  width:196px;
  height:25px;
}
#u1868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u1869 {
  position:absolute;
  left:19px;
  top:141px;
  width:365px;
  height:1px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u1871 {
  position:absolute;
  left:207px;
  top:110px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1871_img.selected {
}
#u1871.selected {
}
#u1872 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u1873 {
  position:absolute;
  left:71px;
  top:110px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1873_img.selected {
}
#u1873.selected {
}
#u1874 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1873_ann {
  position:absolute;
  left:197px;
  top:106px;
  width:1px;
  height:1px;
}
#u1875 {
  position:absolute;
  left:19px;
  top:172px;
  width:365px;
  height:294px;
  overflow:hidden;
}
#u1875_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:294px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1875_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1876 {
  position:absolute;
  left:-1px;
  top:109px;
  width:362px;
  height:185px;
  overflow:hidden;
  visibility:hidden;
}
#u1876_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1876_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1877 {
  position:absolute;
  left:13px;
  top:30px;
  width:347px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u1877_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1877_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1878 {
  position:absolute;
  left:26px;
  top:10px;
  width:117px;
  height:16px;
}
#u1879 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1878_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1880 {
  position:absolute;
  left:46px;
  top:5px;
  width:25px;
  height:25px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882 {
  position:absolute;
  left:26px;
  top:46px;
  width:117px;
  height:16px;
}
#u1883 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1882_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1884 {
  position:absolute;
  left:46px;
  top:41px;
  width:25px;
  height:25px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1886 {
  position:absolute;
  left:13px;
  top:30px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1887 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1888 {
  position:absolute;
  left:13px;
  top:72px;
  width:347px;
  height:1px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1890 {
  position:absolute;
  left:13px;
  top:73px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1891 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1892 {
  position:absolute;
  left:13px;
  top:115px;
  width:347px;
  height:1px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1894 {
  position:absolute;
  left:13px;
  top:116px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1895 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u1896 {
  position:absolute;
  left:29px;
  top:86px;
  width:24px;
  height:16px;
}
#u1897 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1898 {
  position:absolute;
  left:29px;
  top:44px;
  width:24px;
  height:16px;
}
#u1899 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1900 {
  position:absolute;
  left:29px;
  top:130px;
  width:24px;
  height:16px;
}
#u1901 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1902 {
  position:absolute;
  left:29px;
  top:10px;
  width:115px;
  height:16px;
}
#u1903 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u1902_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1904 {
  position:absolute;
  left:48px;
  top:5px;
  width:25px;
  height:25px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1906 {
  position:absolute;
  left:-1px;
  top:109px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1907 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u1908 {
  position:absolute;
  left:-1px;
  top:151px;
  width:362px;
  height:1px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1910 {
  position:absolute;
  left:-1px;
  top:152px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1911 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u1912 {
  position:absolute;
  left:-1px;
  top:194px;
  width:362px;
  height:1px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1914 {
  position:absolute;
  left:-1px;
  top:195px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1915 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u1916 {
  position:absolute;
  left:15px;
  top:165px;
  width:25px;
  height:16px;
}
#u1917 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1918 {
  position:absolute;
  left:15px;
  top:123px;
  width:25px;
  height:16px;
}
#u1919 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1920 {
  position:absolute;
  left:15px;
  top:209px;
  width:25px;
  height:16px;
}
#u1921 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1922 {
  position:absolute;
  left:14px;
  top:11px;
  width:117px;
  height:16px;
}
#u1923 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1922_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1922_ann {
  position:absolute;
  left:124px;
  top:7px;
  width:1px;
  height:1px;
}
#u1924 {
  position:absolute;
  left:14px;
  top:44px;
  width:117px;
  height:16px;
}
#u1925 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1924_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1926 {
  position:absolute;
  left:34px;
  top:6px;
  width:25px;
  height:25px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1928 {
  position:absolute;
  left:34px;
  top:40px;
  width:25px;
  height:25px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930 {
  position:absolute;
  left:14px;
  top:80px;
  width:117px;
  height:16px;
}
#u1931 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1932 {
  position:absolute;
  left:34px;
  top:76px;
  width:25px;
  height:25px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:294px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1875_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:76px;
}
.u1936 {
  position:absolute;
  left:2px;
  top:30px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1937 {
  position:absolute;
  left:33px;
  top:39px;
  width:25px;
  height:25px;
}
.u1938 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1939 {
  position:absolute;
  left:10px;
  top:44px;
  width:100px;
  height:16px;
}
.u1940 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u1939_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  text-align:left;
}
.u1942 {
  position:absolute;
  left:10px;
  top:3px;
  width:350px;
  word-wrap:break-word;
}
#u1934-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:76px;
}
#u1934-2 {
  position:absolute;
  left:0px;
  top:76px;
  width:362px;
  height:76px;
}
#u1934-3 {
  position:absolute;
  left:0px;
  top:152px;
  width:362px;
  height:76px;
}
#u1934-4 {
  position:absolute;
  left:0px;
  top:228px;
  width:362px;
  height:76px;
}
#u1934-5 {
  position:absolute;
  left:0px;
  top:304px;
  width:362px;
  height:76px;
}
#u1934-6 {
  position:absolute;
  left:0px;
  top:380px;
  width:362px;
  height:76px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:1px;
  width:362px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1943 {
  position:absolute;
  left:29px;
  top:74px;
  width:20px;
  height:20px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u1945 {
  position:absolute;
  left:19px;
  top:102px;
  width:365px;
  height:1px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1947 {
  position:absolute;
  left:29px;
  top:144px;
  width:358px;
  height:26px;
  font-size:13px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  word-wrap:break-word;
}
#u1947_ann {
  position:absolute;
  left:380px;
  top:140px;
  width:1px;
  height:1px;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u1949 {
  position:absolute;
  left:19px;
  top:172px;
  width:365px;
  height:1px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
