body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6729 {
  position:absolute;
  left:12px;
  top:54px;
  width:548px;
  height:492px;
}
#u6730 {
  position:absolute;
  left:2px;
  top:238px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6731 {
  position:absolute;
  left:12px;
  top:14px;
  width:548px;
  height:40px;
}
#u6732 {
  position:absolute;
  left:2px;
  top:12px;
  width:544px;
  word-wrap:break-word;
}
#u6733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6733 {
  position:absolute;
  left:526px;
  top:22px;
  width:25px;
  height:25px;
}
#u6734 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6733_ann {
  position:absolute;
  left:544px;
  top:18px;
  width:1px;
  height:1px;
}
.u6736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6736 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6737 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6738 {
  position:absolute;
  left:90px;
  top:7px;
  width:29px;
  height:16px;
}
.u6739 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u6740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6740 {
  position:absolute;
  left:90px;
  top:35px;
  width:393px;
  height:32px;
}
.u6741 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u6735-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:80px;
}
#u6735-2 {
  position:absolute;
  left:0px;
  top:100px;
  width:483px;
  height:80px;
}
#u6735-3 {
  position:absolute;
  left:0px;
  top:200px;
  width:483px;
  height:80px;
}
#u6735-4 {
  position:absolute;
  left:0px;
  top:300px;
  width:483px;
  height:80px;
}
#u6735-5 {
  position:absolute;
  left:0px;
  top:400px;
  width:483px;
  height:80px;
}
#u6735 {
  position:absolute;
  left:45px;
  top:59px;
  width:483px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
