body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:489px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1827 {
  position:absolute;
  left:12px;
  top:14px;
  width:677px;
  height:489px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:236px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1829 {
  position:absolute;
  left:18px;
  top:58px;
  width:368px;
  height:408px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:196px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1831 {
  position:absolute;
  left:13px;
  top:15px;
  width:675px;
  height:40px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:12px;
  width:671px;
  word-wrap:break-word;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1833 {
  position:absolute;
  left:396px;
  top:58px;
  width:286px;
  height:408px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:196px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u1837 {
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1838 {
  position:absolute;
  left:9px;
  top:7px;
  width:25px;
  height:25px;
}
.u1839 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1840 {
  position:absolute;
  left:44px;
  top:12px;
  width:29px;
  height:16px;
}
.u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1842 {
  position:absolute;
  left:256px;
  top:10px;
  width:20px;
  height:20px;
}
.u1843 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1842_ann {
  position:absolute;
  left:269px;
  top:6px;
  width:1px;
  height:1px;
}
#u1835-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u1835-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:286px;
  height:40px;
}
#u1835-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:286px;
  height:40px;
}
#u1835 {
  position:absolute;
  left:396px;
  top:58px;
  width:286px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1835_ann {
  position:absolute;
  left:675px;
  top:54px;
  width:1px;
  height:1px;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1844 {
  position:absolute;
  left:18px;
  top:476px;
  width:79px;
  height:16px;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1846 {
  position:absolute;
  left:584px;
  top:468px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1846_img.mouseOver {
}
#u1846.mouseOver {
}
#u1847 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1846_ann {
  position:absolute;
  left:671px;
  top:464px;
  width:1px;
  height:1px;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1848 {
  position:absolute;
  left:660px;
  top:18px;
  width:25px;
  height:25px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_ann {
  position:absolute;
  left:678px;
  top:14px;
  width:1px;
  height:1px;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1851 {
  position:absolute;
  left:50px;
  top:70px;
  width:196px;
  height:25px;
}
#u1851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u1852 {
  position:absolute;
  left:19px;
  top:141px;
  width:365px;
  height:1px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u1854 {
  position:absolute;
  left:207px;
  top:110px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1854_img.selected {
}
#u1854.selected {
}
#u1855 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u1856 {
  position:absolute;
  left:71px;
  top:110px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1856_img.selected {
}
#u1856.selected {
}
#u1857 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1856_ann {
  position:absolute;
  left:197px;
  top:106px;
  width:1px;
  height:1px;
}
#u1858 {
  position:absolute;
  left:19px;
  top:172px;
  width:365px;
  height:294px;
  overflow:hidden;
}
#u1858_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:294px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1858_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1859 {
  position:absolute;
  left:-1px;
  top:109px;
  width:362px;
  height:185px;
  overflow:hidden;
  visibility:hidden;
}
#u1859_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1859_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1860 {
  position:absolute;
  left:13px;
  top:30px;
  width:347px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u1860_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1860_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1861 {
  position:absolute;
  left:26px;
  top:10px;
  width:117px;
  height:16px;
}
#u1862 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1861_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1863 {
  position:absolute;
  left:46px;
  top:5px;
  width:25px;
  height:25px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865 {
  position:absolute;
  left:26px;
  top:46px;
  width:117px;
  height:16px;
}
#u1866 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1865_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1867 {
  position:absolute;
  left:46px;
  top:41px;
  width:25px;
  height:25px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1869 {
  position:absolute;
  left:13px;
  top:30px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1870 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1871 {
  position:absolute;
  left:13px;
  top:72px;
  width:347px;
  height:1px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1873 {
  position:absolute;
  left:13px;
  top:73px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1874 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1875 {
  position:absolute;
  left:13px;
  top:115px;
  width:347px;
  height:1px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1877 {
  position:absolute;
  left:13px;
  top:116px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1878 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:29px;
  top:86px;
  width:24px;
  height:16px;
}
#u1880 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1881 {
  position:absolute;
  left:29px;
  top:44px;
  width:24px;
  height:16px;
}
#u1882 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1883 {
  position:absolute;
  left:29px;
  top:130px;
  width:24px;
  height:16px;
}
#u1884 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1885 {
  position:absolute;
  left:29px;
  top:10px;
  width:115px;
  height:16px;
}
#u1886 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u1885_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1887 {
  position:absolute;
  left:48px;
  top:5px;
  width:25px;
  height:25px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1889 {
  position:absolute;
  left:-1px;
  top:109px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1890 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u1891 {
  position:absolute;
  left:-1px;
  top:151px;
  width:362px;
  height:1px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1893 {
  position:absolute;
  left:-1px;
  top:152px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1894 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u1895 {
  position:absolute;
  left:-1px;
  top:194px;
  width:362px;
  height:1px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1897 {
  position:absolute;
  left:-1px;
  top:195px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1898 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u1899 {
  position:absolute;
  left:15px;
  top:165px;
  width:25px;
  height:16px;
}
#u1900 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1901 {
  position:absolute;
  left:15px;
  top:123px;
  width:25px;
  height:16px;
}
#u1902 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1903 {
  position:absolute;
  left:15px;
  top:209px;
  width:25px;
  height:16px;
}
#u1904 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1905 {
  position:absolute;
  left:14px;
  top:11px;
  width:117px;
  height:16px;
}
#u1906 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1905_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1905_ann {
  position:absolute;
  left:124px;
  top:7px;
  width:1px;
  height:1px;
}
#u1907 {
  position:absolute;
  left:14px;
  top:44px;
  width:117px;
  height:16px;
}
#u1908 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1907_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1909 {
  position:absolute;
  left:34px;
  top:6px;
  width:25px;
  height:25px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1911 {
  position:absolute;
  left:34px;
  top:40px;
  width:25px;
  height:25px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913 {
  position:absolute;
  left:14px;
  top:80px;
  width:117px;
  height:16px;
}
#u1914 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1913_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1915 {
  position:absolute;
  left:34px;
  top:76px;
  width:25px;
  height:25px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:294px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1858_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:76px;
}
.u1919 {
  position:absolute;
  left:2px;
  top:30px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1920 {
  position:absolute;
  left:33px;
  top:39px;
  width:25px;
  height:25px;
}
.u1921 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1922 {
  position:absolute;
  left:10px;
  top:44px;
  width:100px;
  height:16px;
}
.u1923 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u1922_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  text-align:left;
}
.u1925 {
  position:absolute;
  left:10px;
  top:3px;
  width:350px;
  word-wrap:break-word;
}
#u1917-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:76px;
}
#u1917-2 {
  position:absolute;
  left:0px;
  top:76px;
  width:362px;
  height:76px;
}
#u1917-3 {
  position:absolute;
  left:0px;
  top:152px;
  width:362px;
  height:76px;
}
#u1917-4 {
  position:absolute;
  left:0px;
  top:228px;
  width:362px;
  height:76px;
}
#u1917-5 {
  position:absolute;
  left:0px;
  top:304px;
  width:362px;
  height:76px;
}
#u1917-6 {
  position:absolute;
  left:0px;
  top:380px;
  width:362px;
  height:76px;
}
#u1917 {
  position:absolute;
  left:0px;
  top:1px;
  width:362px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1926 {
  position:absolute;
  left:29px;
  top:74px;
  width:20px;
  height:20px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u1928 {
  position:absolute;
  left:19px;
  top:102px;
  width:365px;
  height:1px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1930 {
  position:absolute;
  left:29px;
  top:144px;
  width:358px;
  height:26px;
  font-size:13px;
}
#u1931 {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  word-wrap:break-word;
}
#u1930_ann {
  position:absolute;
  left:380px;
  top:140px;
  width:1px;
  height:1px;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u1932 {
  position:absolute;
  left:19px;
  top:172px;
  width:365px;
  height:1px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
