body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:373px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7002 {
  position:absolute;
  left:12px;
  top:14px;
  width:403px;
  height:373px;
}
#u7003 {
  position:absolute;
  left:2px;
  top:178px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7004 {
  position:absolute;
  left:13px;
  top:15px;
  width:402px;
  height:40px;
}
#u7005 {
  position:absolute;
  left:2px;
  top:12px;
  width:398px;
  word-wrap:break-word;
}
#u7006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7006 {
  position:absolute;
  left:387px;
  top:23px;
  width:25px;
  height:25px;
}
#u7007 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006_ann {
  position:absolute;
  left:405px;
  top:19px;
  width:1px;
  height:1px;
}
#u7008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7008 {
  position:absolute;
  left:28px;
  top:65px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7009 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7010 {
  position:absolute;
  left:20px;
  top:88px;
  width:386px;
  height:41px;
}
#u7011 {
  position:absolute;
  left:2px;
  top:12px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7012 {
  position:absolute;
  left:41px;
  top:101px;
  width:64px;
  height:16px;
  color:#666666;
}
#u7012_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7012.selected {
}
#u7013 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7014 {
  position:absolute;
  left:132px;
  top:101px;
  width:64px;
  height:16px;
  color:#666666;
}
#u7014_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7014.selected {
}
#u7015 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7016 {
  position:absolute;
  left:223px;
  top:101px;
  width:64px;
  height:16px;
  color:#666666;
}
#u7016_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7016.selected {
}
#u7017 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7018 {
  position:absolute;
  left:314px;
  top:101px;
  width:64px;
  height:16px;
  color:#666666;
}
#u7018_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7018.selected {
}
#u7019 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7020 {
  position:absolute;
  left:28px;
  top:139px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7021 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7022 {
  position:absolute;
  left:20px;
  top:164px;
  width:386px;
  height:41px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:12px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7024 {
  position:absolute;
  left:41px;
  top:177px;
  width:48px;
  height:16px;
}
#u7025 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7024_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7026 {
  position:absolute;
  left:102px;
  top:177px;
  width:48px;
  height:16px;
}
#u7027 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7026_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7028 {
  position:absolute;
  left:225px;
  top:177px;
  width:48px;
  height:16px;
}
#u7029 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7028_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7030 {
  position:absolute;
  left:164px;
  top:177px;
  width:48px;
  height:16px;
}
#u7031 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7030_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7032 {
  position:absolute;
  left:28px;
  top:223px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7033 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 210, 210, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7035 {
  position:absolute;
  left:20px;
  top:247px;
  width:386px;
  height:81px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:32px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037 {
  position:absolute;
  left:26px;
  top:251px;
  width:374px;
  height:74px;
}
#u7037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:74px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u7038 {
  position:absolute;
  left:335px;
  top:345px;
  width:71px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7038_img.mouseOver {
}
#u7038.mouseOver {
}
#u7039 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u7038_ann {
  position:absolute;
  left:399px;
  top:341px;
  width:1px;
  height:1px;
}
