body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:691px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:473px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1750 {
  position:absolute;
  left:0px;
  top:21px;
  width:680px;
  height:473px;
}
#u1751 {
  position:absolute;
  left:2px;
  top:228px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:397px;
}
#u1752 {
  position:absolute;
  left:104px;
  top:34px;
  width:456px;
  height:397px;
}
#u1753 {
  position:absolute;
  left:2px;
  top:190px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1754 {
  position:absolute;
  left:69px;
  top:434px;
  width:60px;
  height:60px;
}
#u1755 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1756 {
  position:absolute;
  left:129px;
  top:434px;
  width:60px;
  height:60px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1758 {
  position:absolute;
  left:189px;
  top:434px;
  width:60px;
  height:60px;
}
#u1759 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1760 {
  position:absolute;
  left:249px;
  top:434px;
  width:60px;
  height:60px;
}
#u1761 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1762 {
  position:absolute;
  left:309px;
  top:434px;
  width:60px;
  height:60px;
}
#u1763 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1764 {
  position:absolute;
  left:369px;
  top:434px;
  width:60px;
  height:60px;
}
#u1765 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1766 {
  position:absolute;
  left:429px;
  top:434px;
  width:60px;
  height:60px;
}
#u1767 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1768 {
  position:absolute;
  left:489px;
  top:434px;
  width:60px;
  height:60px;
}
#u1769 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1770 {
  position:absolute;
  left:549px;
  top:434px;
  width:60px;
  height:60px;
}
#u1771 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1772 {
  position:absolute;
  left:12px;
  top:444px;
  width:40px;
  height:40px;
}
#u1773 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_ann {
  position:absolute;
  left:45px;
  top:440px;
  width:1px;
  height:1px;
}
#u1774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1774 {
  position:absolute;
  left:626px;
  top:444px;
  width:40px;
  height:40px;
}
#u1775 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_ann {
  position:absolute;
  left:659px;
  top:440px;
  width:1px;
  height:1px;
}
#u1776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1776 {
  position:absolute;
  left:19px;
  top:34px;
  width:40px;
  height:40px;
}
#u1777 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_ann {
  position:absolute;
  left:52px;
  top:30px;
  width:1px;
  height:1px;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1778 {
  position:absolute;
  left:633px;
  top:34px;
  width:40px;
  height:40px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_ann {
  position:absolute;
  left:666px;
  top:30px;
  width:1px;
  height:1px;
}
#u1780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1781 {
  position:absolute;
  left:0px;
  top:406px;
  width:680px;
  height:28px;
}
#u1782 {
  position:absolute;
  left:2px;
  top:6px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1783 {
  position:absolute;
  left:503px;
  top:411px;
  width:20px;
  height:20px;
}
#u1784 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1785 {
  position:absolute;
  left:536px;
  top:410px;
  width:20px;
  height:20px;
}
#u1786 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1787 {
  position:absolute;
  left:570px;
  top:410px;
  width:20px;
  height:20px;
}
#u1788 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1789 {
  position:absolute;
  left:612px;
  top:412px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1790 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1791 {
  position:absolute;
  left:12px;
  top:412px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1793 {
  position:absolute;
  left:661px;
  top:5px;
  width:30px;
  height:30px;
}
#u1794 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
