body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:542px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:335px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1951 {
  position:absolute;
  left:12px;
  top:54px;
  width:542px;
  height:335px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:160px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1953 {
  position:absolute;
  left:444px;
  top:341px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1953_img.mouseOver {
}
#u1953.mouseOver {
}
#u1954 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1953_ann {
  position:absolute;
  left:531px;
  top:337px;
  width:1px;
  height:1px;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  position:absolute;
  left:12px;
  top:14px;
  width:542px;
  height:40px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:12px;
  width:538px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1957 {
  position:absolute;
  left:522px;
  top:19px;
  width:25px;
  height:25px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_ann {
  position:absolute;
  left:540px;
  top:15px;
  width:1px;
  height:1px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1961 {
  position:absolute;
  left:28px;
  top:157px;
  width:510px;
  height:121px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:52px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963 {
  position:absolute;
  left:35px;
  top:161px;
  width:497px;
  height:112px;
}
#u1963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:112px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1963_ann {
  position:absolute;
  left:525px;
  top:157px;
  width:1px;
  height:1px;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1964 {
  position:absolute;
  left:29px;
  top:130px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1968 {
  position:absolute;
  left:81px;
  top:80px;
  width:457px;
  height:33px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:8px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970 {
  position:absolute;
  left:94px;
  top:84px;
  width:438px;
  height:25px;
}
#u1970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1970_ann {
  position:absolute;
  left:525px;
  top:80px;
  width:1px;
  height:1px;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1971 {
  position:absolute;
  left:30px;
  top:86px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1973 {
  position:absolute;
  left:87px;
  top:291px;
}
#u1973_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1973_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_ann {
  position:absolute;
  left:63px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1973_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1973_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1978 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1983 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1985 {
  position:absolute;
  left:30px;
  top:288px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
