body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:335px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4655 {
  position:absolute;
  left:12px;
  top:54px;
  width:542px;
  height:335px;
}
#u4656 {
  position:absolute;
  left:2px;
  top:160px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u4657 {
  position:absolute;
  left:444px;
  top:341px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4657_img.mouseOver {
}
#u4657.mouseOver {
}
#u4658 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u4657_ann {
  position:absolute;
  left:531px;
  top:337px;
  width:1px;
  height:1px;
}
#u4659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4659 {
  position:absolute;
  left:12px;
  top:14px;
  width:542px;
  height:40px;
}
#u4660 {
  position:absolute;
  left:2px;
  top:12px;
  width:538px;
  word-wrap:break-word;
}
#u4661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4661 {
  position:absolute;
  left:522px;
  top:19px;
  width:25px;
  height:25px;
}
#u4662 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4661_ann {
  position:absolute;
  left:540px;
  top:15px;
  width:1px;
  height:1px;
}
#u4663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4665 {
  position:absolute;
  left:28px;
  top:157px;
  width:510px;
  height:121px;
}
#u4666 {
  position:absolute;
  left:2px;
  top:52px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4667 {
  position:absolute;
  left:35px;
  top:161px;
  width:497px;
  height:112px;
}
#u4667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:112px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4667_ann {
  position:absolute;
  left:525px;
  top:157px;
  width:1px;
  height:1px;
}
#u4668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4668 {
  position:absolute;
  left:29px;
  top:130px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4669 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4672 {
  position:absolute;
  left:81px;
  top:80px;
  width:457px;
  height:33px;
}
#u4673 {
  position:absolute;
  left:2px;
  top:8px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4674 {
  position:absolute;
  left:94px;
  top:84px;
  width:438px;
  height:25px;
}
#u4674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4674_ann {
  position:absolute;
  left:525px;
  top:80px;
  width:1px;
  height:1px;
}
#u4675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4675 {
  position:absolute;
  left:30px;
  top:86px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4676 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4677 {
  position:absolute;
  left:87px;
  top:291px;
}
#u4677_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4677_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4678 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4679 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4678_ann {
  position:absolute;
  left:63px;
  top:-4px;
  width:1px;
  height:1px;
}
#u4677_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4677_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4680 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4681 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4682 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
#u4683 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4685 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
#u4686 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4687 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
#u4688 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4689 {
  position:absolute;
  left:30px;
  top:288px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4690 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
