body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:542px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:335px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2061 {
  position:absolute;
  left:12px;
  top:54px;
  width:542px;
  height:335px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:160px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u2063 {
  position:absolute;
  left:444px;
  top:341px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2063_img.mouseOver {
}
#u2063.mouseOver {
}
#u2064 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u2063_ann {
  position:absolute;
  left:531px;
  top:337px;
  width:1px;
  height:1px;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065 {
  position:absolute;
  left:12px;
  top:14px;
  width:542px;
  height:40px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:12px;
  width:538px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2067 {
  position:absolute;
  left:522px;
  top:19px;
  width:25px;
  height:25px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_ann {
  position:absolute;
  left:540px;
  top:15px;
  width:1px;
  height:1px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:28px;
  top:157px;
  width:510px;
  height:121px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:52px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073 {
  position:absolute;
  left:35px;
  top:161px;
  width:497px;
  height:112px;
}
#u2073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:112px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2073_ann {
  position:absolute;
  left:525px;
  top:157px;
  width:1px;
  height:1px;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2074 {
  position:absolute;
  left:29px;
  top:130px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2078 {
  position:absolute;
  left:81px;
  top:80px;
  width:457px;
  height:33px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:8px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080 {
  position:absolute;
  left:94px;
  top:84px;
  width:438px;
  height:25px;
}
#u2080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2080_ann {
  position:absolute;
  left:525px;
  top:80px;
  width:1px;
  height:1px;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2081 {
  position:absolute;
  left:30px;
  top:86px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2083 {
  position:absolute;
  left:87px;
  top:291px;
}
#u2083_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2083_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_ann {
  position:absolute;
  left:63px;
  top:-4px;
  width:1px;
  height:1px;
}
#u2083_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2083_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2088 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2093 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2095 {
  position:absolute;
  left:30px;
  top:288px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
