body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5197 {
  position:absolute;
  left:12px;
  top:9px;
  width:506px;
  height:40px;
}
#u5198 {
  position:absolute;
  left:2px;
  top:12px;
  width:502px;
  word-wrap:break-word;
}
#u5199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5199 {
  position:absolute;
  left:490px;
  top:16px;
  width:25px;
  height:25px;
}
#u5200 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_ann {
  position:absolute;
  left:508px;
  top:12px;
  width:1px;
  height:1px;
}
#u5201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:455px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5201 {
  position:absolute;
  left:12px;
  top:48px;
  width:506px;
  height:455px;
}
#u5202 {
  position:absolute;
  left:2px;
  top:220px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u5203 {
  position:absolute;
  left:384px;
  top:456px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5203_img.mouseOver {
}
#u5203.mouseOver {
}
#u5204 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
.u5206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5206 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:97px;
}
.u5207 {
  position:absolute;
  left:2px;
  top:40px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
}
.u5208 {
  position:absolute;
  left:6px;
  top:8px;
  width:120px;
  height:80px;
}
.u5209 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5208_ann {
  position:absolute;
  left:119px;
  top:4px;
  width:1px;
  height:1px;
}
.u5210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5210 {
  position:absolute;
  left:150px;
  top:18px;
  width:57px;
  height:16px;
}
.u5211 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u5212 {
  position:absolute;
  left:150px;
  top:62px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u5213 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
.u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u5214 {
  position:absolute;
  left:401px;
  top:38px;
  width:20px;
  height:20px;
}
.u5215 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5205-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:97px;
}
#u5205-2 {
  position:absolute;
  left:0px;
  top:97px;
  width:438px;
  height:97px;
}
#u5205-3 {
  position:absolute;
  left:0px;
  top:194px;
  width:438px;
  height:97px;
}
#u5205 {
  position:absolute;
  left:40px;
  top:130px;
  width:438px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5205_ann {
  position:absolute;
  left:471px;
  top:126px;
  width:1px;
  height:1px;
}
#u5216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5217 {
  position:absolute;
  left:65px;
  top:85px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5218 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5219 {
  position:absolute;
  left:40px;
  top:84px;
  width:20px;
  height:20px;
}
#u5220 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5221 {
  position:absolute;
  left:268px;
  top:457px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5221_img.mouseOver {
}
#u5221.mouseOver {
}
#u5222 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
