body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5924 {
  position:absolute;
  left:12px;
  top:54px;
  width:548px;
  height:482px;
}
#u5925 {
  position:absolute;
  left:2px;
  top:233px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5926 {
  position:absolute;
  left:12px;
  top:14px;
  width:548px;
  height:40px;
}
#u5927 {
  position:absolute;
  left:2px;
  top:12px;
  width:544px;
  word-wrap:break-word;
}
#u5928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5928 {
  position:absolute;
  left:526px;
  top:22px;
  width:25px;
  height:25px;
}
#u5929 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5928_ann {
  position:absolute;
  left:544px;
  top:18px;
  width:1px;
  height:1px;
}
#u5930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5930 {
  position:absolute;
  left:41px;
  top:70px;
  width:65px;
  height:16px;
}
#u5931 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
.u5933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u5933 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u5934 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5935 {
  position:absolute;
  left:26px;
  top:88px;
  width:29px;
  height:16px;
}
.u5936 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5932-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:104px;
}
#u5932-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:104px;
}
#u5932-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:80px;
  height:104px;
}
#u5932-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:80px;
  height:104px;
}
#u5932-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:104px;
}
#u5932-6 {
  position:absolute;
  left:0px;
  top:124px;
  width:80px;
  height:104px;
}
#u5932-7 {
  position:absolute;
  left:100px;
  top:124px;
  width:80px;
  height:104px;
}
#u5932-8 {
  position:absolute;
  left:200px;
  top:124px;
  width:80px;
  height:104px;
}
#u5932-9 {
  position:absolute;
  left:300px;
  top:124px;
  width:80px;
  height:104px;
}
#u5932-10 {
  position:absolute;
  left:400px;
  top:124px;
  width:80px;
  height:104px;
}
#u5932-11 {
  position:absolute;
  left:0px;
  top:248px;
  width:80px;
  height:104px;
}
#u5932-12 {
  position:absolute;
  left:100px;
  top:248px;
  width:80px;
  height:104px;
}
#u5932-13 {
  position:absolute;
  left:200px;
  top:248px;
  width:80px;
  height:104px;
}
#u5932 {
  position:absolute;
  left:41px;
  top:105px;
  width:480px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5937 {
  position:absolute;
  left:475px;
  top:70px;
  width:45px;
  height:16px;
}
#u5938 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
