body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:385px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:360px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1383 {
  position:absolute;
  left:12px;
  top:14px;
  width:385px;
  height:360px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:172px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:13px;
  top:15px;
  width:384px;
  height:40px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:12px;
  width:380px;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1387 {
  position:absolute;
  left:272px;
  top:336px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1387_img.mouseOver {
}
#u1387.mouseOver {
}
#u1388 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1389 {
  position:absolute;
  left:364px;
  top:23px;
  width:25px;
  height:25px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_ann {
  position:absolute;
  left:382px;
  top:19px;
  width:1px;
  height:1px;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1392 {
  position:absolute;
  left:186px;
  top:65px;
  width:180px;
  height:30px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394 {
  position:absolute;
  left:188px;
  top:68px;
  width:175px;
  height:24px;
}
#u1394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1395 {
  position:absolute;
  left:37px;
  top:72px;
  width:85px;
  height:16px;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1397 {
  position:absolute;
  left:37px;
  top:119px;
  width:85px;
  height:16px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1399 {
  position:absolute;
  left:188px;
  top:119px;
  width:63px;
  height:16px;
}
#u1400 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1399_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1401 {
  position:absolute;
  left:303px;
  top:119px;
  width:63px;
  height:16px;
}
#u1402 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1401_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  position:absolute;
  left:37px;
  top:159px;
  width:57px;
  height:16px;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  position:absolute;
  left:188px;
  top:159px;
  width:43px;
  height:16px;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1407 {
  position:absolute;
  left:37px;
  top:191px;
  width:329px;
  height:135px;
}
#u1407_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:135px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
