body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:377px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4031 {
  position:absolute;
  left:0px;
  top:39px;
  width:662px;
  height:377px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:180px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:40px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:12px;
  width:658px;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4035 {
  position:absolute;
  left:634px;
  top:3px;
  width:25px;
  height:25px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_ann {
  position:absolute;
  left:652px;
  top:-1px;
  width:1px;
  height:1px;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  position:absolute;
  left:18px;
  top:57px;
  width:93px;
  height:16px;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4039 {
  position:absolute;
  left:18px;
  top:90px;
  width:627px;
  height:112px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:48px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  position:absolute;
  left:18px;
  top:231px;
  width:93px;
  height:16px;
}
#u4042 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4043 {
  position:absolute;
  left:18px;
  top:264px;
  width:627px;
  height:112px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:48px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045 {
  position:absolute;
  left:23px;
  top:270px;
  width:616px;
  height:100px;
  overflow:hidden;
}
#u4045_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:100px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4045_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4048 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u4049 {
  position:absolute;
  left:20px;
  top:8px;
  width:50px;
  height:50px;
}
.u4050 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4051 {
  position:absolute;
  left:31px;
  top:66px;
  width:29px;
  height:16px;
}
.u4052 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4046-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046-2 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046-3 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046-4 {
  position:absolute;
  left:270px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046-5 {
  position:absolute;
  left:360px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046-6 {
  position:absolute;
  left:450px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046-7 {
  position:absolute;
  left:540px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046-8 {
  position:absolute;
  left:630px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046-9 {
  position:absolute;
  left:720px;
  top:0px;
  width:90px;
  height:90px;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u4054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4054 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4055 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u4056 {
  position:absolute;
  left:20px;
  top:8px;
  width:50px;
  height:50px;
}
.u4057 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4058 {
  position:absolute;
  left:31px;
  top:66px;
  width:29px;
  height:16px;
}
.u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4053-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4053-2 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:90px;
}
#u4053-3 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:90px;
}
#u4053 {
  position:absolute;
  left:21px;
  top:101px;
  width:270px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
