body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:377px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4821 {
  position:absolute;
  left:0px;
  top:39px;
  width:662px;
  height:377px;
}
#u4822 {
  position:absolute;
  left:2px;
  top:180px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4823 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:40px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:12px;
  width:658px;
  word-wrap:break-word;
}
#u4825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4825 {
  position:absolute;
  left:634px;
  top:3px;
  width:25px;
  height:25px;
}
#u4826 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825_ann {
  position:absolute;
  left:652px;
  top:-1px;
  width:1px;
  height:1px;
}
#u4827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4827 {
  position:absolute;
  left:18px;
  top:57px;
  width:93px;
  height:16px;
}
#u4828 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4829 {
  position:absolute;
  left:18px;
  top:90px;
  width:627px;
  height:112px;
}
#u4830 {
  position:absolute;
  left:2px;
  top:48px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4831 {
  position:absolute;
  left:18px;
  top:231px;
  width:93px;
  height:16px;
}
#u4832 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4833 {
  position:absolute;
  left:18px;
  top:264px;
  width:627px;
  height:112px;
}
#u4834 {
  position:absolute;
  left:2px;
  top:48px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4835 {
  position:absolute;
  left:23px;
  top:270px;
  width:616px;
  height:100px;
  overflow:hidden;
}
#u4835_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:100px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4835_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u4837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4837 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4838 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u4839 {
  position:absolute;
  left:20px;
  top:8px;
  width:50px;
  height:50px;
}
.u4840 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4841 {
  position:absolute;
  left:31px;
  top:66px;
  width:29px;
  height:16px;
}
.u4842 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4836-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836-2 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836-3 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836-4 {
  position:absolute;
  left:270px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836-5 {
  position:absolute;
  left:360px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836-6 {
  position:absolute;
  left:450px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836-7 {
  position:absolute;
  left:540px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836-8 {
  position:absolute;
  left:630px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836-9 {
  position:absolute;
  left:720px;
  top:0px;
  width:90px;
  height:90px;
}
#u4836 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u4844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4844 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4845 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u4846 {
  position:absolute;
  left:20px;
  top:8px;
  width:50px;
  height:50px;
}
.u4847 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4848 {
  position:absolute;
  left:31px;
  top:66px;
  width:29px;
  height:16px;
}
.u4849 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4843-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4843-2 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:90px;
}
#u4843-3 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:90px;
}
#u4843 {
  position:absolute;
  left:21px;
  top:101px;
  width:270px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
