body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:601px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:341px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:341px;
}
#u103 {
  position:absolute;
  left:2px;
  top:162px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(236, 239, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:36px;
  top:297px;
  width:300px;
  height:37px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:117px;
}
#u106 {
  position:absolute;
  left:85px;
  top:72px;
  width:116px;
  height:117px;
}
#u107 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:39px;
  background:inherit;
  background-color:rgba(31, 184, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u108 {
  position:absolute;
  left:257px;
  top:84px;
  width:252px;
  height:39px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  background:inherit;
  background-color:rgba(31, 184, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:257px;
  top:123px;
  width:252px;
  height:20px;
  color:#FFFFFF;
}
#u111 {
  position:absolute;
  left:0px;
  top:2px;
  width:252px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:57px;
  background:inherit;
  background-color:rgba(31, 184, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:257px;
  top:157px;
  width:178px;
  height:57px;
}
#u113 {
  position:absolute;
  left:2px;
  top:20px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:60px;
  background:inherit;
  background-color:rgba(236, 239, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  position:absolute;
  left:36px;
  top:265px;
  width:541px;
  height:60px;
}
#u115 {
  position:absolute;
  left:2px;
  top:22px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:6px;
  background:inherit;
  background-color:rgba(226, 226, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:54px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:64px;
  top:283px;
  width:452px;
  height:6px;
}
#u118 {
  position:absolute;
  left:2px;
  top:-5px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:6px;
  background:inherit;
  background-color:rgba(27, 161, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 161, 219, 1);
  border-radius:54px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:64px;
  top:283px;
  width:147px;
  height:6px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-5px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u121 {
  position:absolute;
  left:533px;
  top:276px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:498px;
  top:307px;
  width:81px;
  height:26px;
}
#u124 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u123_ann {
  position:absolute;
  left:572px;
  top:303px;
  width:1px;
  height:1px;
}
