body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6670 {
  position:absolute;
  left:12px;
  top:54px;
  width:548px;
  height:492px;
}
#u6671 {
  position:absolute;
  left:2px;
  top:238px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6672 {
  position:absolute;
  left:12px;
  top:14px;
  width:548px;
  height:40px;
}
#u6673 {
  position:absolute;
  left:2px;
  top:12px;
  width:544px;
  word-wrap:break-word;
}
#u6674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6674 {
  position:absolute;
  left:526px;
  top:22px;
  width:25px;
  height:25px;
}
#u6675 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6674_ann {
  position:absolute;
  left:544px;
  top:18px;
  width:1px;
  height:1px;
}
.u6677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6677 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6678 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6679 {
  position:absolute;
  left:90px;
  top:7px;
  width:29px;
  height:16px;
}
.u6680 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u6681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6681 {
  position:absolute;
  left:90px;
  top:35px;
  width:393px;
  height:32px;
}
.u6682 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u6676-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:80px;
}
#u6676-2 {
  position:absolute;
  left:0px;
  top:100px;
  width:483px;
  height:80px;
}
#u6676-3 {
  position:absolute;
  left:0px;
  top:200px;
  width:483px;
  height:80px;
}
#u6676-4 {
  position:absolute;
  left:0px;
  top:300px;
  width:483px;
  height:80px;
}
#u6676 {
  position:absolute;
  left:45px;
  top:114px;
  width:483px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6683 {
  position:absolute;
  left:45px;
  top:78px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6684 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
