body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6688 {
  position:absolute;
  left:12px;
  top:54px;
  width:548px;
  height:482px;
}
#u6689 {
  position:absolute;
  left:2px;
  top:233px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6690 {
  position:absolute;
  left:12px;
  top:14px;
  width:548px;
  height:40px;
}
#u6691 {
  position:absolute;
  left:2px;
  top:12px;
  width:544px;
  word-wrap:break-word;
}
#u6692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6692 {
  position:absolute;
  left:526px;
  top:22px;
  width:25px;
  height:25px;
}
#u6693 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6692_ann {
  position:absolute;
  left:544px;
  top:18px;
  width:1px;
  height:1px;
}
#u6694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6694 {
  position:absolute;
  left:41px;
  top:70px;
  width:57px;
  height:16px;
}
#u6695 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u6697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6697 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6698 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6699 {
  position:absolute;
  left:26px;
  top:88px;
  width:29px;
  height:16px;
}
.u6700 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6696-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:104px;
}
#u6696-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:104px;
}
#u6696-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:80px;
  height:104px;
}
#u6696-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:80px;
  height:104px;
}
#u6696-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:104px;
}
#u6696-6 {
  position:absolute;
  left:0px;
  top:124px;
  width:80px;
  height:104px;
}
#u6696-7 {
  position:absolute;
  left:100px;
  top:124px;
  width:80px;
  height:104px;
}
#u6696-8 {
  position:absolute;
  left:200px;
  top:124px;
  width:80px;
  height:104px;
}
#u6696-9 {
  position:absolute;
  left:300px;
  top:124px;
  width:80px;
  height:104px;
}
#u6696 {
  position:absolute;
  left:41px;
  top:105px;
  width:480px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6701 {
  position:absolute;
  left:475px;
  top:70px;
  width:45px;
  height:16px;
}
#u6702 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u6703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6703 {
  position:absolute;
  left:40px;
  top:380px;
  width:57px;
  height:16px;
}
#u6704 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u6706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6706 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6707 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6708 {
  position:absolute;
  left:26px;
  top:88px;
  width:29px;
  height:16px;
}
.u6709 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6705-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:104px;
}
#u6705-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:104px;
}
#u6705-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:80px;
  height:104px;
}
#u6705-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:80px;
  height:104px;
}
#u6705-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:104px;
}
#u6705 {
  position:absolute;
  left:40px;
  top:415px;
  width:480px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6710 {
  position:absolute;
  left:474px;
  top:380px;
  width:45px;
  height:16px;
}
#u6711 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u6712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:14px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6712 {
  position:absolute;
  left:12px;
  top:350px;
  width:548px;
  height:14px;
}
#u6713 {
  position:absolute;
  left:2px;
  top:-1px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
