body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:363px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:12px;
  top:48px;
  width:572px;
  height:363px;
}
#u907 {
  position:absolute;
  left:2px;
  top:174px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u908 {
  position:absolute;
  left:12px;
  top:48px;
  width:510px;
  height:1px;
}
#u909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:12px;
  top:9px;
  width:572px;
  height:40px;
}
#u911 {
  position:absolute;
  left:2px;
  top:12px;
  width:568px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u912 {
  position:absolute;
  left:555px;
  top:14px;
  width:25px;
  height:25px;
}
#u913 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_ann {
  position:absolute;
  left:573px;
  top:10px;
  width:1px;
  height:1px;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u914 {
  position:absolute;
  left:21px;
  top:101px;
  width:93px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u914_img.selected {
}
#u914.selected {
}
#u915 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u916 {
  position:absolute;
  left:21px;
  top:141px;
  width:93px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u916_img.selected {
}
#u916.selected {
}
#u917 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u918 {
  position:absolute;
  left:21px;
  top:181px;
  width:93px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u918_img.selected {
}
#u918.selected {
}
#u919 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u920 {
  position:absolute;
  left:21px;
  top:61px;
  width:93px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u920_img.selected {
}
#u920.selected {
}
#u921 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:362px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:124px;
  top:49px;
  width:460px;
  height:362px;
}
#u923 {
  position:absolute;
  left:2px;
  top:173px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:124px;
  top:49px;
  width:460px;
  height:361px;
  overflow:hidden;
}
#u924_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:361px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u924_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u925 {
  position:absolute;
  left:196px;
  top:37px;
  width:80px;
  height:80px;
}
#u926 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u927 {
  position:absolute;
  left:209px;
  top:140px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u929 {
  position:absolute;
  left:171px;
  top:195px;
  width:132px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u929_img.mouseOver {
}
#u929.mouseOver {
}
#u930 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u924_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:361px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u924_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:65px;
  top:36px;
  width:57px;
  height:16px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:154px;
  top:26px;
  width:208px;
  height:32px;
}
#u935 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936 {
  position:absolute;
  left:155px;
  top:32px;
  width:201px;
  height:21px;
}
#u936_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u937 {
  position:absolute;
  left:155px;
  top:68px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  position:absolute;
  left:65px;
  top:140px;
  width:43px;
  height:16px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u941 {
  position:absolute;
  left:155px;
  top:140px;
  width:100px;
  height:16px;
}
#u942 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u941_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:65px;
  top:234px;
  width:71px;
  height:16px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u945 {
  position:absolute;
  left:155px;
  top:234px;
  width:154px;
  height:16px;
}
#u946 {
  position:absolute;
  left:16px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u945_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u947 {
  position:absolute;
  left:155px;
  top:273px;
  width:100px;
  height:16px;
}
#u948 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u947_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u924_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:361px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u924_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u924_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:361px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u924_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:9px;
  top:13px;
  width:37px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
