body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  position:absolute;
  left:31px;
  top:37px;
  width:352px;
  height:233px;
}
#u133 {
  position:absolute;
  left:2px;
  top:108px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:44px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:31px;
  top:37px;
  width:352px;
  height:44px;
}
#u135 {
  position:absolute;
  left:2px;
  top:14px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u136 {
  position:absolute;
  left:310px;
  top:231px;
  width:65px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u137 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u138 {
  position:absolute;
  left:49px;
  top:51px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u140 {
  position:absolute;
  left:353px;
  top:41px;
  width:22px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u140_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u140.mouseOver {
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u142 {
  position:absolute;
  left:49px;
  top:99px;
  width:319px;
  height:122px;
  text-align:left;
}
#u143 {
  position:absolute;
  left:8px;
  top:8px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(226, 226, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:54px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:57px;
  top:163px;
  width:268px;
  height:6px;
}
#u146 {
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:54px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:57px;
  top:163px;
  width:87px;
  height:6px;
}
#u148 {
  position:absolute;
  left:2px;
  top:-5px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u149 {
  position:absolute;
  left:335px;
  top:156px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
