body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:485px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2000 {
  position:absolute;
  left:30px;
  top:27px;
  width:485px;
  height:292px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:138px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2002 {
  position:absolute;
  left:48px;
  top:41px;
  width:127px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2004 {
  position:absolute;
  left:493px;
  top:27px;
  width:22px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2004_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2004.mouseOver {
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2006 {
  position:absolute;
  left:48px;
  top:74px;
  width:452px;
  height:197px;
  overflow:hidden;
}
#u2006_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:197px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2006_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:262px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:123px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u2011 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2009-2 {
  position:absolute;
  left:85px;
  top:0px;
  width:80px;
  height:80px;
}
#u2009-3 {
  position:absolute;
  left:170px;
  top:0px;
  width:80px;
  height:80px;
}
#u2009-4 {
  position:absolute;
  left:255px;
  top:0px;
  width:80px;
  height:80px;
}
#u2009-5 {
  position:absolute;
  left:340px;
  top:0px;
  width:80px;
  height:80px;
}
#u2009-6 {
  position:absolute;
  left:0px;
  top:88px;
  width:80px;
  height:80px;
}
#u2009-7 {
  position:absolute;
  left:85px;
  top:88px;
  width:80px;
  height:80px;
}
#u2009-8 {
  position:absolute;
  left:170px;
  top:88px;
  width:80px;
  height:80px;
}
#u2009-9 {
  position:absolute;
  left:255px;
  top:88px;
  width:80px;
  height:80px;
}
#u2009-10 {
  position:absolute;
  left:340px;
  top:88px;
  width:80px;
  height:80px;
}
#u2009-11 {
  position:absolute;
  left:0px;
  top:176px;
  width:80px;
  height:80px;
}
#u2009-12 {
  position:absolute;
  left:85px;
  top:176px;
  width:80px;
  height:80px;
}
#u2009 {
  position:absolute;
  left:11px;
  top:6px;
  width:420px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2012 {
  position:absolute;
  left:434px;
  top:281px;
  width:65px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(46, 141, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 141, 237, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2014 {
  position:absolute;
  left:359px;
  top:281px;
  width:65px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2015 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
