body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:489px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6631 {
  position:absolute;
  left:12px;
  top:14px;
  width:677px;
  height:489px;
}
#u6632 {
  position:absolute;
  left:2px;
  top:236px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6633 {
  position:absolute;
  left:18px;
  top:58px;
  width:368px;
  height:408px;
}
#u6634 {
  position:absolute;
  left:2px;
  top:196px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6635 {
  position:absolute;
  left:13px;
  top:15px;
  width:675px;
  height:40px;
}
#u6636 {
  position:absolute;
  left:2px;
  top:12px;
  width:671px;
  word-wrap:break-word;
}
#u6637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6637 {
  position:absolute;
  left:396px;
  top:58px;
  width:286px;
  height:408px;
}
#u6638 {
  position:absolute;
  left:2px;
  top:196px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u6640 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u6641 {
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u6642 {
  position:absolute;
  left:9px;
  top:7px;
  width:25px;
  height:25px;
}
.u6643 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6644 {
  position:absolute;
  left:44px;
  top:12px;
  width:29px;
  height:16px;
}
.u6645 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u6646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u6646 {
  position:absolute;
  left:256px;
  top:10px;
  width:20px;
  height:20px;
}
.u6647 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6646_ann {
  position:absolute;
  left:269px;
  top:6px;
  width:1px;
  height:1px;
}
#u6639-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u6639-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:286px;
  height:40px;
}
#u6639-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:286px;
  height:40px;
}
#u6639 {
  position:absolute;
  left:396px;
  top:58px;
  width:286px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6639_ann {
  position:absolute;
  left:675px;
  top:54px;
  width:1px;
  height:1px;
}
#u6648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6648 {
  position:absolute;
  left:18px;
  top:476px;
  width:79px;
  height:16px;
}
#u6649 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u6650 {
  position:absolute;
  left:584px;
  top:468px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6650_img.mouseOver {
}
#u6650.mouseOver {
}
#u6651 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u6650_ann {
  position:absolute;
  left:671px;
  top:464px;
  width:1px;
  height:1px;
}
#u6652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6652 {
  position:absolute;
  left:660px;
  top:18px;
  width:25px;
  height:25px;
}
#u6653 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6652_ann {
  position:absolute;
  left:678px;
  top:14px;
  width:1px;
  height:1px;
}
#u6654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6655 {
  position:absolute;
  left:50px;
  top:70px;
  width:196px;
  height:25px;
}
#u6655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u6656 {
  position:absolute;
  left:19px;
  top:141px;
  width:365px;
  height:1px;
}
#u6657 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u6658 {
  position:absolute;
  left:207px;
  top:110px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6658_img.selected {
}
#u6658.selected {
}
#u6659 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u6660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u6660 {
  position:absolute;
  left:71px;
  top:110px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6660_img.selected {
}
#u6660.selected {
}
#u6661 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u6660_ann {
  position:absolute;
  left:197px;
  top:106px;
  width:1px;
  height:1px;
}
#u6662 {
  position:absolute;
  left:19px;
  top:172px;
  width:365px;
  height:294px;
  overflow:hidden;
}
#u6662_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:294px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u6662_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6663 {
  position:absolute;
  left:-1px;
  top:109px;
  width:362px;
  height:185px;
  overflow:hidden;
  visibility:hidden;
}
#u6663_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6663_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6664 {
  position:absolute;
  left:13px;
  top:30px;
  width:347px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u6664_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6664_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6665 {
  position:absolute;
  left:26px;
  top:10px;
  width:117px;
  height:16px;
}
#u6666 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6665_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6667 {
  position:absolute;
  left:46px;
  top:5px;
  width:25px;
  height:25px;
}
#u6668 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6669 {
  position:absolute;
  left:26px;
  top:46px;
  width:117px;
  height:16px;
}
#u6670 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6669_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6671 {
  position:absolute;
  left:46px;
  top:41px;
  width:25px;
  height:25px;
}
#u6672 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6673 {
  position:absolute;
  left:13px;
  top:30px;
  width:347px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6674 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u6675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u6675 {
  position:absolute;
  left:13px;
  top:72px;
  width:347px;
  height:1px;
}
#u6676 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6677 {
  position:absolute;
  left:13px;
  top:73px;
  width:347px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6678 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u6679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u6679 {
  position:absolute;
  left:13px;
  top:115px;
  width:347px;
  height:1px;
}
#u6680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6681 {
  position:absolute;
  left:13px;
  top:116px;
  width:347px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6682 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u6683 {
  position:absolute;
  left:29px;
  top:86px;
  width:24px;
  height:16px;
}
#u6684 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6683_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6685 {
  position:absolute;
  left:29px;
  top:44px;
  width:24px;
  height:16px;
}
#u6686 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6685_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6687 {
  position:absolute;
  left:29px;
  top:130px;
  width:24px;
  height:16px;
}
#u6688 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6687_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6689 {
  position:absolute;
  left:29px;
  top:10px;
  width:115px;
  height:16px;
}
#u6690 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u6689_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6691 {
  position:absolute;
  left:48px;
  top:5px;
  width:25px;
  height:25px;
}
#u6692 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6693 {
  position:absolute;
  left:-1px;
  top:109px;
  width:362px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6694 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u6695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u6695 {
  position:absolute;
  left:-1px;
  top:151px;
  width:362px;
  height:1px;
}
#u6696 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6697 {
  position:absolute;
  left:-1px;
  top:152px;
  width:362px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6698 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u6699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u6699 {
  position:absolute;
  left:-1px;
  top:194px;
  width:362px;
  height:1px;
}
#u6700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6701 {
  position:absolute;
  left:-1px;
  top:195px;
  width:362px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6702 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u6703 {
  position:absolute;
  left:15px;
  top:165px;
  width:25px;
  height:16px;
}
#u6704 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6703_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6705 {
  position:absolute;
  left:15px;
  top:123px;
  width:25px;
  height:16px;
}
#u6706 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6705_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6707 {
  position:absolute;
  left:15px;
  top:209px;
  width:25px;
  height:16px;
}
#u6708 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6707_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6709 {
  position:absolute;
  left:14px;
  top:11px;
  width:117px;
  height:16px;
}
#u6710 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6709_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6709_ann {
  position:absolute;
  left:124px;
  top:7px;
  width:1px;
  height:1px;
}
#u6711 {
  position:absolute;
  left:14px;
  top:44px;
  width:117px;
  height:16px;
}
#u6712 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6711_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6713 {
  position:absolute;
  left:34px;
  top:6px;
  width:25px;
  height:25px;
}
#u6714 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6715 {
  position:absolute;
  left:34px;
  top:40px;
  width:25px;
  height:25px;
}
#u6716 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6717 {
  position:absolute;
  left:14px;
  top:80px;
  width:117px;
  height:16px;
}
#u6718 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6717_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6719 {
  position:absolute;
  left:34px;
  top:76px;
  width:25px;
  height:25px;
}
#u6720 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6662_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:294px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u6662_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u6722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6722 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:76px;
}
.u6723 {
  position:absolute;
  left:2px;
  top:30px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u6724 {
  position:absolute;
  left:33px;
  top:39px;
  width:25px;
  height:25px;
}
.u6725 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6726 {
  position:absolute;
  left:10px;
  top:44px;
  width:100px;
  height:16px;
}
.u6727 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u6726_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u6728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u6728 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  text-align:left;
}
.u6729 {
  position:absolute;
  left:10px;
  top:3px;
  width:350px;
  word-wrap:break-word;
}
#u6721-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:76px;
}
#u6721-2 {
  position:absolute;
  left:0px;
  top:76px;
  width:362px;
  height:76px;
}
#u6721-3 {
  position:absolute;
  left:0px;
  top:152px;
  width:362px;
  height:76px;
}
#u6721-4 {
  position:absolute;
  left:0px;
  top:228px;
  width:362px;
  height:76px;
}
#u6721-5 {
  position:absolute;
  left:0px;
  top:304px;
  width:362px;
  height:76px;
}
#u6721-6 {
  position:absolute;
  left:0px;
  top:380px;
  width:362px;
  height:76px;
}
#u6721 {
  position:absolute;
  left:0px;
  top:1px;
  width:362px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6730 {
  position:absolute;
  left:29px;
  top:74px;
  width:20px;
  height:20px;
}
#u6731 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u6732 {
  position:absolute;
  left:19px;
  top:102px;
  width:365px;
  height:1px;
}
#u6733 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6734 {
  position:absolute;
  left:29px;
  top:144px;
  width:358px;
  height:26px;
  font-size:13px;
}
#u6735 {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  word-wrap:break-word;
}
#u6734_ann {
  position:absolute;
  left:380px;
  top:140px;
  width:1px;
  height:1px;
}
#u6736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u6736 {
  position:absolute;
  left:19px;
  top:172px;
  width:365px;
  height:1px;
}
#u6737 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
