body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:489px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6581 {
  position:absolute;
  left:12px;
  top:14px;
  width:677px;
  height:489px;
}
#u6582 {
  position:absolute;
  left:2px;
  top:236px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6583 {
  position:absolute;
  left:18px;
  top:58px;
  width:368px;
  height:408px;
}
#u6584 {
  position:absolute;
  left:2px;
  top:196px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6585 {
  position:absolute;
  left:13px;
  top:15px;
  width:675px;
  height:40px;
}
#u6586 {
  position:absolute;
  left:2px;
  top:12px;
  width:671px;
  word-wrap:break-word;
}
#u6587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6587 {
  position:absolute;
  left:396px;
  top:58px;
  width:286px;
  height:408px;
}
#u6588 {
  position:absolute;
  left:2px;
  top:196px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u6590 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u6591 {
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u6592 {
  position:absolute;
  left:9px;
  top:7px;
  width:25px;
  height:25px;
}
.u6593 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6594 {
  position:absolute;
  left:44px;
  top:12px;
  width:29px;
  height:16px;
}
.u6595 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u6596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u6596 {
  position:absolute;
  left:256px;
  top:10px;
  width:20px;
  height:20px;
}
.u6597 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6596_ann {
  position:absolute;
  left:269px;
  top:6px;
  width:1px;
  height:1px;
}
#u6589-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u6589-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:286px;
  height:40px;
}
#u6589-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:286px;
  height:40px;
}
#u6589 {
  position:absolute;
  left:396px;
  top:58px;
  width:286px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6589_ann {
  position:absolute;
  left:675px;
  top:54px;
  width:1px;
  height:1px;
}
#u6598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6598 {
  position:absolute;
  left:18px;
  top:476px;
  width:79px;
  height:16px;
}
#u6599 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u6600 {
  position:absolute;
  left:584px;
  top:468px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6600_img.mouseOver {
}
#u6600.mouseOver {
}
#u6601 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u6600_ann {
  position:absolute;
  left:671px;
  top:464px;
  width:1px;
  height:1px;
}
#u6602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6602 {
  position:absolute;
  left:660px;
  top:18px;
  width:25px;
  height:25px;
}
#u6603 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6602_ann {
  position:absolute;
  left:678px;
  top:14px;
  width:1px;
  height:1px;
}
#u6604 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6605 {
  position:absolute;
  left:50px;
  top:70px;
  width:196px;
  height:25px;
}
#u6605_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u6606 {
  position:absolute;
  left:19px;
  top:141px;
  width:365px;
  height:1px;
}
#u6607 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u6608 {
  position:absolute;
  left:207px;
  top:110px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6608_img.selected {
}
#u6608.selected {
}
#u6609 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u6610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u6610 {
  position:absolute;
  left:71px;
  top:110px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6610_img.selected {
}
#u6610.selected {
}
#u6611 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u6610_ann {
  position:absolute;
  left:197px;
  top:106px;
  width:1px;
  height:1px;
}
#u6612 {
  position:absolute;
  left:19px;
  top:172px;
  width:365px;
  height:294px;
  overflow:hidden;
}
#u6612_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:294px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u6612_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6613 {
  position:absolute;
  left:-1px;
  top:109px;
  width:362px;
  height:185px;
  overflow:hidden;
  visibility:hidden;
}
#u6613_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6613_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6614 {
  position:absolute;
  left:13px;
  top:30px;
  width:347px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u6614_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6614_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6615 {
  position:absolute;
  left:26px;
  top:10px;
  width:117px;
  height:16px;
}
#u6616 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6615_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6617 {
  position:absolute;
  left:46px;
  top:5px;
  width:25px;
  height:25px;
}
#u6618 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6619 {
  position:absolute;
  left:26px;
  top:46px;
  width:117px;
  height:16px;
}
#u6620 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6619_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6621 {
  position:absolute;
  left:46px;
  top:41px;
  width:25px;
  height:25px;
}
#u6622 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6623 {
  position:absolute;
  left:13px;
  top:30px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6624 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u6625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u6625 {
  position:absolute;
  left:13px;
  top:72px;
  width:347px;
  height:1px;
}
#u6626 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6627 {
  position:absolute;
  left:13px;
  top:73px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6628 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u6629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u6629 {
  position:absolute;
  left:13px;
  top:115px;
  width:347px;
  height:1px;
}
#u6630 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6631 {
  position:absolute;
  left:13px;
  top:116px;
  width:347px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6632 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u6633 {
  position:absolute;
  left:29px;
  top:86px;
  width:24px;
  height:16px;
}
#u6634 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6633_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6635 {
  position:absolute;
  left:29px;
  top:44px;
  width:24px;
  height:16px;
}
#u6636 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6635_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6637 {
  position:absolute;
  left:29px;
  top:130px;
  width:24px;
  height:16px;
}
#u6638 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6637_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6639 {
  position:absolute;
  left:29px;
  top:10px;
  width:115px;
  height:16px;
}
#u6640 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u6639_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6641 {
  position:absolute;
  left:48px;
  top:5px;
  width:25px;
  height:25px;
}
#u6642 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6643 {
  position:absolute;
  left:-1px;
  top:109px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6644 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u6645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u6645 {
  position:absolute;
  left:-1px;
  top:151px;
  width:362px;
  height:1px;
}
#u6646 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6647 {
  position:absolute;
  left:-1px;
  top:152px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6648 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u6649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u6649 {
  position:absolute;
  left:-1px;
  top:194px;
  width:362px;
  height:1px;
}
#u6650 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6651 {
  position:absolute;
  left:-1px;
  top:195px;
  width:362px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6652 {
  position:absolute;
  left:2px;
  top:11px;
  width:358px;
  word-wrap:break-word;
}
#u6653 {
  position:absolute;
  left:15px;
  top:165px;
  width:25px;
  height:16px;
}
#u6654 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6653_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6655 {
  position:absolute;
  left:15px;
  top:123px;
  width:25px;
  height:16px;
}
#u6656 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6655_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6657 {
  position:absolute;
  left:15px;
  top:209px;
  width:25px;
  height:16px;
}
#u6658 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6657_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6659 {
  position:absolute;
  left:14px;
  top:11px;
  width:117px;
  height:16px;
}
#u6660 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6659_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6659_ann {
  position:absolute;
  left:124px;
  top:7px;
  width:1px;
  height:1px;
}
#u6661 {
  position:absolute;
  left:14px;
  top:44px;
  width:117px;
  height:16px;
}
#u6662 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6661_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6663 {
  position:absolute;
  left:34px;
  top:6px;
  width:25px;
  height:25px;
}
#u6664 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6665 {
  position:absolute;
  left:34px;
  top:40px;
  width:25px;
  height:25px;
}
#u6666 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6667 {
  position:absolute;
  left:14px;
  top:80px;
  width:117px;
  height:16px;
}
#u6668 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6667_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6669 {
  position:absolute;
  left:34px;
  top:76px;
  width:25px;
  height:25px;
}
#u6670 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6612_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:294px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u6612_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u6672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6672 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:76px;
}
.u6673 {
  position:absolute;
  left:2px;
  top:30px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u6674 {
  position:absolute;
  left:33px;
  top:39px;
  width:25px;
  height:25px;
}
.u6675 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6676 {
  position:absolute;
  left:10px;
  top:44px;
  width:100px;
  height:16px;
}
.u6677 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u6676_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u6678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u6678 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  text-align:left;
}
.u6679 {
  position:absolute;
  left:10px;
  top:3px;
  width:350px;
  word-wrap:break-word;
}
#u6671-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:76px;
}
#u6671-2 {
  position:absolute;
  left:0px;
  top:76px;
  width:362px;
  height:76px;
}
#u6671-3 {
  position:absolute;
  left:0px;
  top:152px;
  width:362px;
  height:76px;
}
#u6671-4 {
  position:absolute;
  left:0px;
  top:228px;
  width:362px;
  height:76px;
}
#u6671-5 {
  position:absolute;
  left:0px;
  top:304px;
  width:362px;
  height:76px;
}
#u6671-6 {
  position:absolute;
  left:0px;
  top:380px;
  width:362px;
  height:76px;
}
#u6671 {
  position:absolute;
  left:0px;
  top:1px;
  width:362px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6680 {
  position:absolute;
  left:29px;
  top:74px;
  width:20px;
  height:20px;
}
#u6681 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u6682 {
  position:absolute;
  left:19px;
  top:102px;
  width:365px;
  height:1px;
}
#u6683 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6684 {
  position:absolute;
  left:29px;
  top:144px;
  width:358px;
  height:26px;
  font-size:13px;
}
#u6685 {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  word-wrap:break-word;
}
#u6684_ann {
  position:absolute;
  left:380px;
  top:140px;
  width:1px;
  height:1px;
}
#u6686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u6686 {
  position:absolute;
  left:19px;
  top:172px;
  width:365px;
  height:1px;
}
#u6687 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
