body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  position:absolute;
  left:12px;
  top:54px;
  width:677px;
  height:489px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:236px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1060 {
  position:absolute;
  left:28px;
  top:422px;
  width:70px;
  height:70px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_ann {
  position:absolute;
  left:91px;
  top:418px;
  width:1px;
  height:1px;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1062 {
  position:absolute;
  left:455px;
  top:497px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1062_img.mouseOver {
}
#u1062.mouseOver {
}
#u1063 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1062_ann {
  position:absolute;
  left:542px;
  top:493px;
  width:1px;
  height:1px;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1064 {
  position:absolute;
  left:573px;
  top:497px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1064_img.mouseOver {
}
#u1064.mouseOver {
}
#u1065 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1064_ann {
  position:absolute;
  left:660px;
  top:493px;
  width:1px;
  height:1px;
}
.u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1068 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u1069 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
.u1070 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1072 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
.u1073 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1074 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
.u1075 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1066-2 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:80px;
}
#u1066-3 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:80px;
}
#u1066-4 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:80px;
}
#u1066-5 {
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:80px;
}
#u1066-6 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:80px;
}
#u1066 {
  position:absolute;
  left:112px;
  top:417px;
  width:480px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1076 {
  position:absolute;
  left:12px;
  top:14px;
  width:676px;
  height:40px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:12px;
  width:672px;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1078 {
  position:absolute;
  left:661px;
  top:16px;
  width:25px;
  height:25px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_ann {
  position:absolute;
  left:679px;
  top:12px;
  width:1px;
  height:1px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:241px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  position:absolute;
  left:28px;
  top:157px;
  width:639px;
  height:241px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:112px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083 {
  position:absolute;
  left:37px;
  top:166px;
  width:623px;
  height:223px;
}
#u1083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:223px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1083_ann {
  position:absolute;
  left:653px;
  top:162px;
  width:1px;
  height:1px;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1084 {
  position:absolute;
  left:29px;
  top:130px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:81px;
  top:80px;
  width:586px;
  height:33px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:8px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090 {
  position:absolute;
  left:98px;
  top:84px;
  width:561px;
  height:25px;
}
#u1090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1090_ann {
  position:absolute;
  left:652px;
  top:80px;
  width:1px;
  height:1px;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1091 {
  position:absolute;
  left:30px;
  top:86px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:489px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.266666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1095 {
  position:absolute;
  left:12px;
  top:14px;
  width:677px;
  height:489px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:236px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u1097 {
  position:absolute;
  left:314px;
  top:230px;
  width:60px;
  height:24px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1100 {
  position:absolute;
  left:262px;
  top:209px;
  width:181px;
  height:67px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:26px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u1102 {
  position:absolute;
  left:276px;
  top:228px;
  width:31px;
  height:30px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1104 {
  position:absolute;
  left:317px;
  top:233px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
