body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:12px;
  top:54px;
  width:677px;
  height:489px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:236px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1934 {
  position:absolute;
  left:28px;
  top:422px;
  width:70px;
  height:70px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_ann {
  position:absolute;
  left:91px;
  top:418px;
  width:1px;
  height:1px;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1936 {
  position:absolute;
  left:455px;
  top:497px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1936_img.mouseOver {
}
#u1936.mouseOver {
}
#u1937 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1936_ann {
  position:absolute;
  left:542px;
  top:493px;
  width:1px;
  height:1px;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1938 {
  position:absolute;
  left:573px;
  top:497px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1938_img.mouseOver {
}
#u1938.mouseOver {
}
#u1939 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1938_ann {
  position:absolute;
  left:660px;
  top:493px;
  width:1px;
  height:1px;
}
.u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1942 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u1943 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
.u1944 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1946 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
.u1947 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1948 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
.u1949 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1940-2 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:80px;
}
#u1940-3 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:80px;
}
#u1940-4 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:80px;
}
#u1940-5 {
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:80px;
}
#u1940-6 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:80px;
}
#u1940 {
  position:absolute;
  left:112px;
  top:417px;
  width:480px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1950 {
  position:absolute;
  left:12px;
  top:14px;
  width:676px;
  height:40px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:12px;
  width:672px;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1952 {
  position:absolute;
  left:661px;
  top:16px;
  width:25px;
  height:25px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_ann {
  position:absolute;
  left:679px;
  top:12px;
  width:1px;
  height:1px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1956 {
  position:absolute;
  left:28px;
  top:157px;
  width:639px;
  height:193px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:88px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958 {
  position:absolute;
  left:37px;
  top:164px;
  width:623px;
  height:179px;
}
#u1958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:179px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1958_ann {
  position:absolute;
  left:653px;
  top:160px;
  width:1px;
  height:1px;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1959 {
  position:absolute;
  left:29px;
  top:130px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:81px;
  top:80px;
  width:586px;
  height:33px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:8px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965 {
  position:absolute;
  left:98px;
  top:84px;
  width:561px;
  height:25px;
}
#u1965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1965_ann {
  position:absolute;
  left:652px;
  top:80px;
  width:1px;
  height:1px;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1966 {
  position:absolute;
  left:30px;
  top:86px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1968 {
  position:absolute;
  left:28px;
  top:379px;
  width:80px;
  height:16px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1968_input {
  position:absolute;
  left:63px;
  top:-2px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:489px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.266666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  position:absolute;
  left:12px;
  top:55px;
  width:677px;
  height:489px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:236px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u1974 {
  position:absolute;
  left:314px;
  top:271px;
  width:60px;
  height:24px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977 {
  position:absolute;
  left:262px;
  top:250px;
  width:181px;
  height:67px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:26px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u1979 {
  position:absolute;
  left:276px;
  top:269px;
  width:31px;
  height:30px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1981 {
  position:absolute;
  left:317px;
  top:274px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
